.faqs {
    padding: 104px 0 208px;

    @media(max-width:991.98px) {
        padding: 90px 0 180px;
    }

    @media(max-width:767.98px) {
        padding: 70px 0 140;
    }

    @media(max-width:479.98px) {
        padding: 40px 0 80;
    }

    &__container {}
}


details {
    // background:#fff; 
    // border: 1px solid #D6D9DB; 
    // box-shadow: 0px 2px 4px 0px #0000000A; 
    display: flex;
    // border-radius: 6px; 
    transition: all 0.3s ease 0s;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
        margin-bottom: 60px;

        @media(max-width:991.98px) {
            margin-bottom: 50px;
        }

        @media(max-width:767.98px) {
            margin-bottom: 40px;
        }

        @media(max-width:479.98px) {
            margin-bottom: 30px;
        }
    }
}

details .text {
    color: var(--primary-color);
    font-family: "Century Gothic";
    font-size: 30px;
    line-height: 1.5;

    /* 45px */
    @media(max-width:991.98px) {
        font-size: 26px;
    }

    @media(max-width:767.98px) {
        font-size: 18px;
    }

    @media(max-width:767.98px) {
        font-size: 16px;
    }
}

summary {
    outline: none;
    cursor: pointer;
    padding: 24px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    transition: all 0.3s ease 0s;
}

summary .bold-text {
    color: var(--brand-color);
    font-family: Lexend;
    font-size: 40px;
    font-weight: 500;
    line-height: 1;
    /* 40px */
    letter-spacing: -0.8px;
    transition: all 0.3s ease 0s;

    @media(max-width:991.98px) {
        font-size: 36px;
    }

    @media(max-width:767.98px) {
        font-size: 30px;
    }

    @media(max-width:479.98px) {
        font-size: 18px;
    }
}

summary::-webkit-details-marker {
    display: none;
}

summary::marker {
    display: none;
    content: none;
}

details .close-icon {
    display: none;
}

details[open] .close-icon {
    display: block;
}

details[open] .open-icon {
    display: none;
}

details[open] .text {
    padding: 8px 24px 24px;
}

details[open] summary {
    padding: 24px 24px 8px;
}