.how {
    padding: 104px 0;

    @media(max-width:991.98px) {
        padding: 90px 0;
    }

    @media(max-width:767.98px) {
        padding: 70px 0;
    }

    @media(max-width:479.98px) {
        padding: 40px 0;
    }

    &__container {}

    &__title {}

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 96px;
        margin-bottom: 96px;
        @media(max-width:991.98px){
            margin-bottom: 70px;
            row-gap: 70px;
        }
        @media(max-width:767.98px){
            margin-bottom: 50px;
            row-gap: 50px;
        }
        @media(max-width:479.98px){
            margin-bottom: 40px;
            row-gap: 40px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        @media(max-width:767.98px){
            flex-direction: column;
        }
    }

    &__link {}
}

.title {}

.item-how {
    display: flex;
    gap: 64px;
    &:first-child .item-how__content{
        max-width: 540px;
        @media(max-width:767.98px){
            max-width: initial;
        }
    }
    
    @media(max-width:1100.98px){
        gap: 30px;
    }

    &__content {
        // &:not(:first-child){
        //     max-width: 699px;
        // }
        align-self: center;
        
    }

    &__icon {
        &>img{
            @media(max-width:767.98px){
                width: 80px;
                height: 80px;
            }
            @media(max-width:479.98px){
                width: 56px;
                height: 56px;
            }
        }
    }

    &__title {
        color: var(--brand-color);
        font-family: Lexend;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.1; /* 44/40 */
        /* 110% */
        letter-spacing: -0.8px;
        margin-bottom: 24px;
        margin-top: 16px;
        @media(max-width:991.98px){
            font-size: 36px;
            margin-bottom: 20px;
        }
        @media(max-width:767.98px){
            font-size: 24px;
            margin-bottom: 16px;
        }
        @media(max-width:479.98px){
            font-size: 18px;
            margin-bottom: 12px;
            margin-top: 20px;
        }
    }

    &__text {
        color: var(--primary-color);
        font-family: "Century Gothic";
        font-size: 30px;
        line-height: 1.46; /* 44/30 */
        @media(max-width:991.98px){
            font-size: 24px;
        }
        @media(max-width:767.98px){
            font-size: 18px;
        }
        @media(max-width:479.98px){
            font-size: 16px;
        }
    }

    &__img {
        position: relative;
        width: 100%;
        height: 572px;
        box-shadow: 0px 10px 40px 0px rgba(14, 64, 68, 0.20);
        border-radius: 24px;
        max-width: 566px;
        @media(max-width:767.98px){
            max-width: 100%;
            height: 400px;
        }
        @media(max-width:767.98px){
            height: 352px;
        }


        &>img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
            border-radius: 24px;

        }

        &>.shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: 24px;
            background: linear-gradient(187deg, rgba(14, 64, 68, 0.00) 1.27%, rgba(14, 64, 68, 0.60) 109.5%);
        }
    }
}

.link-quiz {}