.link-quiz {
    display: block;
    color: var(--body-color);
    font-family: Lexend;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    background-color: var(--primary-color);
    width: 226px;
    margin: 0 auto;
    border-radius: 999px;
    // padding: 0 28px;
    transition: all 0.3s ease 0s;
    line-height: 76px;

    &:hover {
        background-color: #0E4044;

    }

    @media(max-width:991.98px) {
        line-height: 66px;
    }

    @media(max-width:767.98px) {
        line-height: 56px;
    }

    @media(max-width:478.98px) {
        width: 142px;
        line-height: 42px;
        padding: 0;
        font-size: 14px;
    }
}